p {
  font-size: 50px;
  line-height: 6;
  letter-spacing: 1px;
  color: #765D69;
  margin: 0 900 ;
  font-weight: bold;
  display: inline;
}
body {
  font-size: 10px;
  background-color: #FCDOBA;
  font-family: "Sofia", sans-serif;
  color: #765D69;
  align: right;
 
}
form{
  font-size: 30px;
  line-height: 3;
  letter-spacing: 1px;
  color: #765D69;
  font-weight: bold;
  padding-left: 900px;
  font-family: "Sofia", sans-serif;
  
}

.autocomplete {
  position: relative;
  display: inline;

}
input { 
  border: 1px solid transparent;
  background-color: #dddd;
  font-size: 19px;
  border-radius: 15px;
  height: 50px;
  padding-left: 10px;
  font-family: "Sofia", sans-serif;
  color: #765D69;
  width: 300px;
}

.autocomplete-items {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  font-size: 15px;
  cursor: pointer;
  background-color: #dddd; 
  border-bottom: 1px solid #dddd; 
}


button{
  background: transparent;
  border: 2px solid #8FB9A8;
  font-family: "Sofia", sans-serif;
  color: #765D69;
  width: 200px;
  border-radius: 15px;
  text-align: center;
  margin: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  line-height: 1;
  text-weight: bold;
  height: 60px;
  font-size: 30px;
  text-align: center;
  
}
span{
  background: #8FB9A8;
  height: 100%;
  width 100%;
  border-radius: 15px;
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  transition: 0.5s; 
  z-index: -1;
}
button:hover span{
  width: 100%;
}
button:hover{
border:none;
}

.button:active {
  background: #007a63;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  color: #FCDOBA;
  background: #765D69;
  margin: 5px 15px;
  border-top-color: #ffffff;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1.5turn);
  }
}
.autocomplete::after{
 background: #dddd;
}
